* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.navbar {
    background-color: #ffffff;
    padding: 15px 0;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.logo img {
    max-width: 120px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
}

.btn {
    text-decoration: none;
    padding: 10px 18px;
    background-color: seagreen;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #3730a3;
    transform: translateY(-2px);
}

.banner {
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: white;
}

.banner-content {
    max-width: 1000px;
    margin: auto;
}

.early-badge {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    background-color: #ffffff;
    padding: 10px 18px;
    border-radius: 50px;

    margin-bottom: 20px;
}

.badge-dot {
    width: 12px;
    height: 12px;
    background-color: #4CAF50;
    border-radius: 50%;

    box-shadow: 0 0 0 4px rgba(75, 180, 115, 0.2);
}

.badge-text {
    color: #3b7f4f;
    font-size: 16px;
    font-weight: 500;
}

.banner h1 {
    font-size: 70px;
    margin-bottom: 15px;
}

.banner p {
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 18px;
}

.banner-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-bottom: 40px;
}

.primary-btn {
    background-color: seagreen;
    color: white;

    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 12px 20px;
    border-radius: 8px;
}

.outline-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 12px 22px;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 8px;

    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;

    transition: 0.3s;
}

.play-icon {
    width: 0;
    height: 0;

    border-left: 10px solid white;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.notes {
    padding: 60px 20px;
    background-color: #f9f9f9;
    margin: -60px 0 0 0;
}

.section-header {
    text-align: center;
    margin-bottom: 40px;
}

.section-header h1 {
    font-size: 45px;
}

.section-header p {
    margin-top: 10px;
    color: rgb(91, 115, 115);
    font-size: 17px;
}

.notes-cards {
    display: flex;
    gap: 20px;
    width: 90%;
    margin: auto;
}

.note-card {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    flex: 1;
}

.icon-box {
    background-color: rgb(227, 92, 92);
    width: 50px;
    height: 50px;
    margin: 0 auto 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.note-card p {
    color: rgb(91, 115, 115);
    font-size: 16px;
}

.note-card h2 {
    line-height: 1.2;
}

.icon-box img {
    max-width: 25px;
}

.second-brain {
    padding: 35px 20px;
}

.brain-container {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 90%;
    margin: auto;
}

.brain-image img {
    max-width: 100%;
}

.brain-message {
    color: seagreen;
    font-weight: normal;
    font-size: 25px;
}

.brain-content ul {
    margin-top: 10px;
    padding-left: 20px;
}

.brain-content li {
    list-style-image: url("./assets/CheckCircle.png");
    font-size: 15px;
    font-weight: 600;
    color: rgb(63, 79, 80);
    margin-bottom: 10px;
}

.brain-content h1 {
    font-size: 50px;
    line-height: 1.2;
}

.brain-content p {
    margin-top: 15px;
    color: rgb(91, 115, 115);
    font-size: 17px;
    line-height: 1.5;
}

.early-access {
    background-color: rgb(244, 241, 238);
    margin-left: 100px;
    margin-right: 100px;
    padding: 60px 20px;
    text-align: center;
}

.access-btn {
    background-color: seagreen;
    color: white;

    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 12px 20px;
    border-radius: 8px;
}

.small-text {
    font-size: 14px;
    color: #555;
}

.footer {
    background-color: #0d1830;
    color: white;
    padding: 100px 100px;
    width: 100%;
    height: 350px;
    margin: 100px 0 0 0;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    max-width: 120px;
}


.social-links a img {
    width: 35px;
    margin-left: -100px;
    padding-top: 10px;

}

.social-links h6 {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: -200px;
}

.footer hr {
    margin: 50px 0;
    border: 0;
    height: 1px;
    background-color: #444;
}

.footer p {
    text-align: center;
    font-size: 14px;
}

.menu a:hover {
    color: seagreen;
}

.note-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

section {
    margin-bottom: 60px;
}