* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.navbar {
    background-color: #ffffff;
    padding: 15px 0;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.logo img {
    max-width: 120px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
}

.btn {
    text-decoration: none;
    padding: 10px 18px;
    background-color: seagreen;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #3730a3;
    transform: translateY(-2px);
}

.banner {
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: white;
}

.banner-content {
    max-width: 1000px;
    margin: auto;
}

.early-badge {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    background-color: #ffffff;
    padding: 10px 18px;
    border-radius: 50px;

    margin-bottom: 20px;
}

.badge-dot {
    width: 12px;
    height: 12px;
    background-color: #4CAF50;
    border-radius: 50%;

    box-shadow: 0 0 0 4px rgba(75, 180, 115, 0.2);
}

.badge-text {
    color: #3b7f4f;
    font-size: 16px;
    font-weight: 500;
}

.banner h1 {
    font-size: 70px;
    margin-bottom: 15px;
}

.banner p {
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 18px;
}

.banner-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-bottom: 40px;
}

.primary-btn {
    background-color: seagreen;
    color: white;

    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 12px 20px;
    border-radius: 8px;
}

.outline-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 12px 22px;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 8px;

    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;

    transition: 0.3s;
}

.play-icon {
    width: 0;
    height: 0;

    border-left: 10px solid white;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

