* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.navbar {
    background-color: #ffffff;
    padding: 15px 0;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.logo img {
    max-width: 120px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
}

.btn {
    text-decoration: none;
    padding: 10px 18px;
    background-color: seagreen;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #3730a3;
    transform: translateY(-2px);
}
